<template>
    <v-app id="app">
        <v-app id="app">

            <v-navigation-drawer
                v-model="drawer"
                app
            >
            <v-list dense>
                <!-- <a class="btn btn-outline-warning" href="#" role="button" @click.stop="logout()">Logout</a> -->
                <!-- <a class="btn btn-outline-warning" href="#" role="button" @click="table()">Table</a> -->
                <!-- <a v-bind:href="url"  @click.stop="table()">Table</a> -->
                
                
                <v-list-item  >
                  
                    <v-list-item-content>
                    
                        <v-btn icon href="/logout" target="_blank" @click.prevent="logout()">
                             <v-icon>logout</v-icon>Logout
                        </v-btn>
                    
                    </v-list-item-content>
                </v-list-item>


                <v-list-item>
                   
                    <v-list-item-content>
                    
                        <v-btn icon href="/" >
                              <v-icon>list</v-icon>Table
                        </v-btn>
                    
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            </v-navigation-drawer>

            <v-app-bar id="app"
                app
                color="indigo"
                dark
            >
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>Application</v-toolbar-title>
                
                <v-spacer></v-spacer>
                
            </v-app-bar>

            <v-main>
                <!-- <v-container
                class="fill-height"
                fluid
                >
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col class="text-center">
                    <v-tooltip left>
                        <template v-slot:activator="{ on }">
                        <v-btn
                            :href="source"
                            icon
                            large
                            target="_blank"
                            v-on="on"
                        >
                            <v-icon large>mdi-code-tags</v-icon>
                        </v-btn>
                        </template>
                        <span>Source</span>
                        
                    </v-tooltip>
                    </v-col>
                </v-row>
                </v-container> -->
            </v-main>
            <v-footer
                color="indigo"
                app
            >
                <span class="white--text">&copy; {{ new Date().getFullYear() }}</span>
            </v-footer>
        </v-app>
    </v-app>
</template>

<script>
    export default {
        name: "Logout",
        props: {
            source: String,
        },

        data: () => ({
        drawer: null,
        }),

        methods: {

        logout() {
                axios.post('/logout')
                    .then(() => location.href = '/login')
            },
        },

        
        
    }
</script>
