<template>
<v-app id="app">

    <v-data-table
    :headers="headers"
    :items="elements"
    sort-by="id"
    class="elevation-1"
    >
    <template v-slot:top>
        <v-toolbar flat color="white">
        <v-toolbar-title>My CRUD</v-toolbar-title>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
            >New Item</v-btn>
            </template>
            <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
                <v-checkbox
                    v-model="enabled"
                    hide-details
                    class="shrink mr-2 mt-0"
                ></v-checkbox>
            </v-card-title>

            <v-card-text>
                <v-container>
                <v-row>
                    <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.title" :disabled="!enabled" label="Title"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.content" :disabled="!enabled" label="Content"></v-text-field>
                    </v-col>
                </v-row>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
        </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
        <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
        >
        mdi-pencil
        </v-icon>
        <v-icon
        small
        @click="deleteItem(item)"
        >
        mdi-delete
        </v-icon>
    </template>
    <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
    </v-data-table>
 
 </v-app>

</template>

<script>
export default {
    // el: '#app',
        // vuetify: new Vuetify(),
        
        data: () => ({
            
            drawer: null,
            dialog: false,
            enabled: false,
            headers: [
            {
                text: 'ID',
                align: 'start',
                sortable: false,
                value: 'id',
            },
            { text: 'Title', value: 'title' },
            { text: 'Content', value: 'content' },
            { text: 'Created', value: 'created_at' },
            { text: 'Actions', value: 'actions', sortable: false },
            ],
            elements: [],
            editedIndex: -1,
            editedItem: {
            id: '',
            title: '',
            content: '',
            completed: 1,
            created_at: '',
            },
            defaultItem: {
            id: '',
            title: '',
            content: '',
            completed: 1,
            created_at: '',
            },
        }),

        computed: {
            formTitle () {
            return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            },
        },

        watch: {
            dialog (val) {
            val || this.close()
            },
        },

        created () {
            this.initialize()
        },

        methods: {

            initialize () {
                fetch('/elements')
                    .then(res => res.json())
                    .then(res => {
                        this.elements = res.data;
                    })
                    .catch(err => console.log(err));
            
            },

            editItem (item) {
            this.editedIndex = this.elements.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
            },

            deleteItem (item) {
            const index = this.elements.indexOf(item)
            confirm('Are you sure you want to delete this item?') && this.elements.splice(index, 1)
            console.log('deleted data')

            axios.delete('/element/'+item.id)
            .then(response => {
                console.log(response);
            })
            },

            close () {
            this.dialog = false
            this.$nextTick(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            })
            },

            save () {
                if (this.editedIndex > -1) {
                    console.log('edited data');
                    console.log(this.editedItem);
            
                axios.put('/element/'+this.editedItem.id,{
                     title:this.editedItem.title, 
                     content: this.editedItem.content,
                     })
                    .then(response=>{
                        // this.initialize();
                        console.log(response);           
                    })
                Object.assign(this.elements[this.editedIndex], this.editedItem)
            } else {
                    
                axios.post('/element/guardar',{
                    title: this.editedItem.title,
                    content: this.editedItem.content,
                    })
                        .then(response=>{
                            this.initialize();
                            console.log(response);
                            
                        })

                this.elements.push(this.editedItem)
            }
            this.close()
            },

            
        },

}
</script>
